
@font-face {
    font-family: Inter-Regular;
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  }
  .intro-section .profession {
    font-family: Inter-Regular;
  }

body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter-Regular";
}

*{
    box-sizing: border-box;
}

main{
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    width: 70%;
    max-width: 30rem;
    margin: 2rem auto;
    text-align: center;
    padding: 2rem;
}

h1{
    margin: 1rem 0 0 0;
}

.location{
    margin-top: 0.25rem;
    margin-bottom: 1.6rem;
    color: hsl(75, 94%, 57%);
}

.image{
    width: 5rem;
    margin: 0 auto;
 
    
}

img{
    display: block;
    border-radius: 100%;
    width: 100%;
}

ul{
    padding: 0; 
    margin: 0;
}


nav{
    margin: 1.6rem 0 0 0;
}

p{
    font-size: 14px;
}

li{
    list-style: none;
    background-color: hsl(0, 0%, 20%);
    margin: 1rem 0;
    padding: 0.9rem;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

li:last-child{
    margin-bottom: 0rem;
   
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

li:hover{
    background-color: hsl(75, 94%, 57%);
    color:  hsl(0, 0%, 8%);
}



